<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper namespace 命名空间 -->
<mapper namespace="com.mybatis.day1103test.dao.UserMapper">


    <!--查询 select 标签-->
    <!--id 起一个名字-->
    <!--resultType 要映射的实体类对象-->
    <!--标签内部的内容是 sql 语句-->

    <resultMap id="UserMap" type="com.mybatis.day1103test.model.UserModel">
        <!--        <id property="id" column="id"/>-->
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <!--这里按需要添加-->
    </resultMap>

    <select id="selectOnce" resultType="com.mybatis.day1103test.model.UserModel">
        SELECT *
        FROM sys_user
        where user_name = #{username}
    </select>
</mapper>
